.active {
  position: relative;
}

.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75%;
  height: 2px;
  background-color: white;
}

.link {
  position: relative;
  @apply text-lg
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  opacity: 0;
  background-color: white;
  transition: all 200ms ease-in-out;
}

.link:hover::after {
  width: 100%;
  opacity: 1;
}

.mobile_menu > .link {
  color: black !important;
}
